



.wd-profile-navigation .list-group-item.active {
  color: black;
  background-color: white;
  border-color: white;
  border-left: 2px solid black;
}

.wd-profile-navigation.list-group {
    border-radius: 0px;
}

.wd-profile-navigation .list-group-item {
    color: red;
    background-color: white;
    border: none;
    margin-left:17.5px


}







.breadcrumb{
  margin-bottom: 0px;
}

.container.assign{
  padding-right: 0px;
}

.list-group .icon-begin>span{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  
}


