.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(182, 172, 172);
    
}

.assign-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}





.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 



.assign-body .list-group-item{
border: 1px solid black;

}

.btn.header{
    border-radius: 40px;
}

.list-group .icon-begin{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.list-group .icon-begin>span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    
}

.icon-begin a{
text-decoration: none;
color: black;
}

.assignment-content{

    margin-bottom: 20px;

}

.assign-body .assign-container{
    border-left: 7px solid green;
    
}


.icon-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-end-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-bar .float-end button{
    margin-left: 7px;
}

.assign-container.list-group-item{
    border: "none";
}


.header-container{
    border-left: 7px solid green;
}







